<!DOCTYPE html>
<head>
    <title>Check</title>
</head>
<body>
        <p>Artist: <%=newSong.artist%></p>
        <p>Album: <%=newSong.album%></p>
        <p>Song: <%=newSong.name%></p>
</body>
</html>